[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
vosk = "*"
numpy = "*"
soundcard = "*"
sounddevice = "*"
speechrecognition = "*"
pyaudio = "*"
gtts = "*"
pyttsx3 = "*"
readchar = "*"
janome = "*"
netifaces = "*"
pymetasploit3 = "*"
pyyaml = "*"

[dev-packages]

[requires]
