[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
vosk = "*"
faster-whisper = "*"
numpy = "*"
soundcard = "*"
sounddevice = "*"
speechrecognition = "*"
gtts = "*"
pyttsx3 = "*"
readchar = "*"
janome = "*"
netifaces = "*"
pymetasploit3 = "*"
pyyaml = "*"
python-dotenv = "*"
pyopenjtalk = "*"
scapy = "*"
scipy = "*"
pyfiglet = "*"
termcolor = "*"

[dev-packages]
pytest = "*"

[requires]
